<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/styles.css' %}" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Bintang Samudro</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-md navbar-dark justify-content-center" id="navbar-background">
        <div class="navbar-brand d-flex w-50 mr-auto">
            <img src="{% static 'home/Logo-Bintang2.jpg' %}" alt="No Image" width="120">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center" id="middle-navbar">
                <li class="nav-item">
                    <a class="nav-link" href="/">MAIN PAGE</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end" id="right-navbar">
                <li class="nav-item">
                    <a class="about-me" href="#about-me"><button>ABOUT ME</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="home">
        <div class="front-page">
            <img src="{% static 'home/album.jpg' %}" alt="No Image">
            <div class="nama">
                <h1>SORRY THE PAGE ISNT READY YET :)</h1>
            </div>
            <div class="bawahnya">
                <h5>LETS GO BACK CLICK ON THE TOP</h5>
            </div>
        </div>
    </section>
    <section id="about-me">
        <div class="container-social-media">
            <div class="container-social-media-title">
                <h1>Get In Touch With Me</h1>
            </div>
            <div class="social-media-menu">
                <ul>
                    <li><a href="https://www.facebook.com/bintang.samudro.319" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/samudro_bintang" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/bintang_samudro/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bintang-samudro-180a16136/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>  
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>